@import './scss/navbar.scss';
@import './scss/newCarousel.scss';
@import './scss/topbar.scss';
@import './scss/footer.scss';
@import './scss/testimonials.scss';
@import './scss/clients.scss';
@import './scss/about.scss';
@import './scss/rollercaster.scss';
@import './scss/partnership.scss';
@import './scss/login.scss';





* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #555;
  padding-bottom: 10px;
}

