@charset "UTF-8";
#nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-brand img {
  height: 40px;
  padding-left: 30px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  float: right;
  text-align: right;
}

#nav-bar ul li a:hover {
  color: #007bff !important;
}

.navbar {
  background: #fff;
}

.navbar-toggler {
  border: none !important;
}

.nav-link {
  color: #555 !important;
  font-weight: 600;
  font-size: 16px;
}

li, .btn {
  text-decoration: none;
}

.shopping-cart {
  margin-top: 5px;
  height: 25px;
}

.intro-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 248, 248, 0.8)), to(rgba(132, 169, 230, 0.8))), url("./img/photogrid.jpg");
  background-image: linear-gradient(rgba(248, 248, 248, 0.8), rgba(132, 169, 230, 0.8)), url("./img/photogrid.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;
}

.top-bar {
  background: #555;
  color: #fff;
  font-size: 0.9rem;
  padding: 10px 0;
}

.top-bar.top-bar-light {
  background: #fff;
  color: #555;
  border-bottom: 1px solid #ddd;
}

.top-bar.top-bar-light a.login-btn, .top-bar.top-bar-light a.signup-btn {
  color: #555 !important;
}

.top-bar.top-bar-light a.login-btn span, .top-bar.top-bar-light a.signup-btn span {
  display: inline-block;
}

.top-bar p {
  margin-bottom: 0;
  font-size: 0.75rem;
}

.top-bar ul {
  margin-bottom: 0;
}

.top-bar a.login-btn, .top-bar a.signup-btn {
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none !important;
  font-size: 0.75rem;
  font-weight: 700;
  margin-right: 10px;
}

.top-bar a.login-btn i, .top-bar a.signup-btn i {
  margin-right: 10px;
}

.top-bar ul.social-custom {
  margin-left: 20px;
}

.top-bar ul.social-custom li {
  padding: 0;
  margin: 0;
}

.top-bar ul.social-custom a {
  text-decoration: none !important;
  font-size: 0.7rem;
  width: 26px;
  height: 26px;
  line-height: 26px;
  color: #999;
  text-align: center;
  border-radius: 50%;
  margin: 0;
}

.top-bar ul.social-custom a:hover {
  background: #4fbfa8;
  color: #fff;
}

.top-bar .contact-info {
  margin-right: 20px;
}

.top-bar .contact-info a {
  font-size: 0.8rem;
}

footer.main-footer {
  padding: 60px 0;
  padding-bottom: 0;
  background: #555;
  color: #fff;
}

footer.main-footer a {
  color: inherit;
  color: #eee;
}

footer.main-footer h4 {
  color: #eee;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

footer.main-footer p {
  font-size: 0.9rem;
  color: #aaa;
}

footer.main-footer hr {
  border: none;
  border-top: 1px solid #ddd;
  background: none;
}

footer.main-footer .footer-blog-list li {
  margin-bottom: 20px;
}

footer.main-footer .image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  flex-shrink: 0;
}

footer.main-footer .text {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

footer.main-footer .text a {
  font-size: 0.8rem;
}

footer.main-footer .photo-stream li {
  margin: 0;
}

footer.main-footer .photo-stream a {
  width: 80px;
  height: 80px;
  padding: 5px;
  display: block;
}

footer.main-footer .copyrights {
  padding: 50px 0;
  background: #333;
  color: #ccc;
  margin-top: 50px;
}

footer.main-footer .copyrights a {
  color: #4fbfa8;
}

footer.main-footer .copyrights p {
  color: inherit;
  font-size: 0.8rem;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  footer.main-footer .photo-stream a {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 767px) {
  footer.main-footer .photo-stream li {
    width: 32%;
    margin-bottom: 10px;
  }

  footer.main-footer .photo-stream a {
    width: 100%;
    height: auto;
  }
}
#testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
}

#testimonials .row {
  margin-top: 30px;
}

.col-md-4 {
  margin: 40px auto;
}

.profile {
  padding: 70px 10px 10px;
  background-color: #efefef;
}

.user {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile img {
  top: -60px;
  position: absolute;
  left: calc(50% - 60px);
  border: 10px solid #fff;
}

.profile h3 {
  font-size: 20px;
  margin-top: 15px;
  color: #007bff;
}

#testimonials span {
  font-size: 12px;
  color: #333;
}

blockquote {
  font-size: 16px;
  line-height: 30px;
}

blockquote::before {
  content: "\93";
  font-size: 50px;
  color: #007bff;
  position: relative;
  line-height: 20px;
  bottom: -15px;
  right: 5px;
}

blockquote::after {
  content: "\94";
  font-size: 50px;
  color: #007bff;
  position: relative;
  line-height: 10px;
  bottom: -15px;
  left: 5px;
}

.profile:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bar {
  padding: 60px 0;
}

.party {
  margin: 40px auto;
}

.fluid {
  width: 50%;
}

.bg-gray {
  background: #e9ecef !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.partners {
  margin-bottom: 40px;
  margin-top: 10px;
}

.partners .item {
  margin: 0 0px;
}

.partners .item img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.partners .item img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

#about {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
}

#about .btn {
  margin-top: 20px;
  margin-bottom: 30px;
}

.about-content {
  padding-top: 20px;
}

.skills-bar p {
  margin-bottom: 6px;
  font-weight: 600;
}

.progress-bar {
  border-radius: 16px;
}

.progress {
  border-radius: 16px !important;
  margin-bottom: 20px;
}

.okno {
  width: 60vw;
  height: 50vh;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #555 !important;
  padding-bottom: 10px;
}
/*# sourceMappingURL=app.css.map*/