.bar {
  padding: 60px 0;
}

.party {
  margin: 40px auto;
}

.fluid {
  width: 50%;

}

.bg-gray {
  background: #e9ecef !important;
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.partners {
  margin-bottom: 40px;
  margin-top: 10px;
}

.partners .item {
  margin: 0 0px;
}

.partners .item img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.partners .item img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}