.bar {
  padding: 60px 0;
}

.party {
  margin: 40px auto;
}

.fluid {
  width: 50%;
}

.bg-gray {
  background: #F7F7F7;
}

.partners .items img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.partners .items img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}