#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-brand img {
  height: 40px;
  padding-left: 30px;
}

.navbar-nav li {
  padding: 0 10px;
}

/* .navbar-nav li a {
  float: right;
  text-align: right; 
} */

#nav-bar ul li a:hover {
  color: #007bff;
}

.navbar {
  background: #F7F7F7;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  color: #555;
  font-weight: 600;
  font-size: 16px;
}

li, .btn {
  text-decoration: none;
}

.shopping-cart {
  margin-top: 5px;
  height: 25px;
}