.jumbotron {
  background-image: linear-gradient(rgba(248, 248, 248, 0.883),rgba(132, 170, 230, 0.644)), url('./../../public/img/world.jpg');
  background-repeat: no-repeat;
  width: 100vw; 
}


.img_fluid {
  width: 50vw;
  //padding: 100px;
}



