.userInfo {
  width: 30vw;
  display: flex;
  align-items: center;
  border-radius: 5px;

  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem 0 5rem;
  }

  input {
    width: 20vw;
  }
}

.close-btn {
  display: flex;
  margin: 1rem;
  justify-content: flex-end;
}

.userInfo1 {
  width: 25vw;
  height: 25vh;
  display: flex;
  align-items: center;

  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem 0 5rem;
  }

  input {
    width: 20vw;
  }

}

.save-part {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

#popup {
  z-index: 1002;
  position: fixed;
  top: 20vh;
  left: 23vw;
  width: 50vW;
  opacity: 1;
  background: #fff;
}

#backPop {
  z-index: 1000;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  background: rgb(167, 161, 161);
}

